# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*~
logs/*
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
.anjuta/default.profile
.anjuta/session/anjuta.session
.anjuta/session/dock-layout.xml
.anjuta_sym_db.db
.ropeproject/config.py
.ropeproject/history
.ropeproject/objectdb
Makefile
Makefile.in
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
configure
config.h
config.h.in
config.status
local_settings
missing
py-compile
src/.goutputstream-FK9UEZ
src/.goutputstream-MZYGEZ
src/.goutputstream-Q5IIEZ
src/Makefile
src/Makefile.in
src/admin/Makefile
src/admin/Makefile.in
aclocal.m4
INSTALL
/src/pdf_opt/pdfsizeopt_libexec/Makefile.am
/stamp-h1
