Package: pygtk-posting
Version: 0.5.34
Section: Office
Priority: optional
Architecture: all
Depends: python3, python3-sane, python3-apsw, gir1.2-vte-2.91, gir1.2-gtk-3.0, gir1.2-poppler-0.18, gir1.2-gtkspell3-3.0, gir1.2-evince-3.0, python3-xlsxwriter, python3-xlrd, python3-genshi, python3-apsw, python3-psycopg2, python3-tk, python3-matplotlib, python3-cairocffi, python3-uno, python3-lxml, unoconv, gir1.2-goocanvas-2.0, gir1.2-keybinder-3.0, ghostscript
Maintainer: Reuben Rissler <pygtk.posting@gmail.com>
Description: Accounting for Linux
 An open source accounting / business management system for Linux.
 It is programmed in Python, uses Gtk for the GUI, and PostgreSQL for a backend.
 US taxes are at least partially supported, but no VAT.
 Features include invoicing, purchase orders, and time tracking.
