[Desktop Entry]
Name=PyGtk Posting
Categories=Office
Exec=pygtk_posting
Comment=Open source accounting and business management system
Icon=pygtk_posting
Type=Application
Name[en_US]=PyGtk Posting
X-GNOME-FullName=PyGtk Posting
Terminal=False
